* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
    font-family: Inter;
    font-family: 'Hedvig Letters Serif', serif;
}

header {
max-width: 1251px; 
height: 50px;
width: 100%;
margin-bottom: 155px; 
margin-left: auto; 
margin-right: auto; 
margin-top: 45px;
display: flex;
justify-content: space-between;
font-family: 'Hedvig Letters Serif', serif;
}

header .side {
display: flex;
align-items: center;
font-family: 'Hedvig Letters Serif', serif;
}

header .nav-links ul { 
margin-left: 56px;
display: flex;
list-style: none;
gap: 53px;
font-family: 'Hedvig Letters Serif', serif;
}

header .nav-links ul a { 
    text-decoration: none; 
    font-size: 17px; 
    font-weight: 600; 
    color: black;
    font-family: 'Hedvig Letters Serif', serif;
}

header .search {
height: 100%; 
width: 348px; 
display: flex;
align-items: center; 
border-radius: 16px;
background:#EDEDED;
padding-left: 22px;
font-family: 'Hedvig Letters Serif', serif;
}

header .search input {
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    font-family: 'Hedvig Letters Serif', serif;
}

header .search img { 
    background:#EDEDED;
    margin-right: 25px;
    font-family: 'Hedvig Letters Serif', serif;
}

header .button {
    height: 100%;
    width: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #141416;
    color: #fff;
    margin-left: 30px;
    font-family: 'Hedvig Letters Serif', serif;
    }


.category-buttons {
    text-align: center;
    margin-top: 20px;
}

.category-button {
    margin-right: 20px;
    padding: 15px;
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Hedvig Letters Serif', serif;
}

.header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
    font-family: 'Hedvig Letters Serif', serif;
}



main { 
    max-width: 1251px;
width: 100%;
margin: 0 auto; 
display: flex;
flex-direction: column; 
align-items: center;
}


